<p class="lead">Dependency Injection</p>

<blockquote>
    <p>
        <a href="{{ path('dpb_coredev_devframework_di_services') }}">Services</a>
        &ndash;
        inspect all services registered in the container
    </p>

    <p>
        <a href="{{ path('dpb_coredev_devframework_di_parameters') }}">Parameters</a>
        &ndash;
        view all parameters in the container
    </p>

    <p>
        <a href="{{ path('dpb_coredev_devframework_di_tags') }}">Tags</a>
        &ndash;
        inspect all tags used when building the container
    </p>
</blockquote>

<p class="lead">Routing</p>

<blockquote>
    <p>
        <a href="{{ path('dpb_coredev_devframework_routing_routes') }}">Routes</a>
        &ndash;
        inspect all available routes
    </p>
</blockquote>
