<div class="pull-right" style="padding-top:4px;">
    <code>{{ '{{' }} 'now'|date('g:i a') {{ '}}' }}</code>
</div>

<p class="lead">Filters</p>

<blockquote>
    <p>{% render 'DPBCoreDevBundle:DevTwig/Filters:topics' %}</p>
</blockquote>
